* {
  /* RESET */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  background: transparent;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

main {
  height: 400px;
  width: 300px;
  text-align: center;
  animation: shake 10s ease-in-out infinite;
}

.carbon {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));

  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.glass {
  /* From https://css.glass */
  /* background: rgba(0, 255, 0, 0.03); */
  border-radius: 16px;
  /* box-shadow: 0 0 30px rgba(0, 255, 0, 0.15); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.neonContainer {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #0f0,
            0 0 0.8rem #0f0,
            0 0 2.8rem #0f0,
            inset 0 0 3.3rem #0f0;
}

.neonText {
  /* font-family: "Yellowtail", sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff;
  font-size: 35px;
  text-shadow:
    0 0 0.1px #000,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0f0,
    0 0 82px #0f0,
    0 0 92px #0f0,
    0 0 102px #0f0,
    0 0 151px #0f0;
}

.neonSmallText {
  /* font-family: "Yellowtail", sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff;
  font-size: 10px;
  text-shadow:
    0 0 0.1px #000,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0f0,
    0 0 82px #0f0,
    0 0 92px #0f0,
    0 0 102px #0f0,
    0 0 151px #0f0;
}

.socialContainer {
  display: flex;
  justify-content: space-around;
  background-color: #aaa;
  padding: .2rem;
}

.icon {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  transition: ease 1s;
}