:root {
  --varColor: 120;
  --customColor: hsl(calc(var(--varColor)*1), 100%, 50%);
}

* {
  /* RESET */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* vertical-align: baseline; */
  background: transparent;
  box-sizing: border-box;
  word-wrap: none;
  /* ↓ fix quebra de linha */
  white-space:nowrap;

}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

main {
  /* height: 400px; */
  /* width: 300px; */
  text-align: center;
  animation: shake 10s ease-in-out 5s infinite;
}

.carbon {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));

  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.glass {
  /* From https://css.glass */
  /* background: rgba(0, 255, 0, 0.03); */
  border-radius: 16px;
  /* box-shadow: 0 0 30px rgba(0, 255, 0, 0.15); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.neonContainer {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem var(--customColor),
            0 0 0.8rem var(--customColor),
            0 0 2.8rem var(--customColor),
            inset 0 0 3.3rem var(--customColor);
}

.neonText {
  /* font-family: "Yellowtail", sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff;
  font-size: 2rem;
  margin: .5rem .5rem 0 .5rem;
  text-shadow:
    0 0 0.1px #000,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--customColor),
    0 0 82px var(--customColor),
    0 0 92px var(--customColor),
    0 0 102px var(--customColor),
    0 0 151px var(--customColor);
}

.neonSmallText {
  /* font-family: "Yellowtail", sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff;
  font-size: .75rem;
  text-shadow:
    0 0 0.1px #000,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--customColor),
    0 0 82px var(--customColor),
    0 0 92px var(--customColor),
    0 0 102px var(--customColor),
    0 0 151px var(--customColor);
}

.socialContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #aaa;
  padding: .1rem 0;
  margin-top: .2rem;
}

.icon {
  height: 4rem;
  width: 4rem;
  margin: .1rem;
  filter: invert(100%);
  transition: ease 1s;
}

.icon:hover {
  filter: invert(10%) drop-shadow(0 0 20px aqua);
}

.picture {
  border-radius: 50%;
  width: 15rem;
  margin: 1rem;
  box-shadow: 0 1px 2px #fff,
  1px 1px 2px #fff,
  1px 1px 6px #000,
  1px 1px 6px #000,
  1px 1px 6px #000;
}

hr {
  height: .5rem;
}

@keyframes shake {
  0% {
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(.5, 1, .1, 20deg);
  }
  100% {
    transform: rotate3d(0);
  }
}

.loading {
  position: absolute;
  animation: onload 3s ease-out 0s 1;
}

@keyframes onload {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 1;
  }

  80% {
    background-color: #000;
    opacity: 1;
  }

  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  100% {
    z-index: -10;
  }
  
}

@keyframes cC {
  from {
    --varColor: 0;
  }

  to {
    --varColor: 360;
  }
}